/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@media screen and (min-width: ) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hidden-sp {
    display: none;
  }
}

.u-hidden-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: #393939;
}

.button {
  display: inline-block;
  text-align: center;
  border: 1px solid #1391e6;
}

.button-middle {
  width: 220px;
  height: 56px;
  border-radius: 30px;
  padding-block: 16px;
  font-size: 16px;
  font-weight: 500;
}

.button-reservation {
  background: #1391e6;
  color: #fff;
}

.util-btn--block,
.util-btn--inline-block {
  padding: 4px 22px 6px;
  font-size: 20px;
  color: #393939;
  text-align: center;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px currentColor;
          box-shadow: 0px 4px 0px 0px currentColor;
}
.util-btn--block:hover,
.util-btn--inline-block:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: #0060a0;
  -webkit-box-shadow: 0px 0px 0px 0px currentColor;
          box-shadow: 0px 0px 0px 0px currentColor;
}

.util-btn--block {
  display: block;
  margin-inline: auto;
  width: 200px;
}

.util-btn--inline-block {
  display: inline-block;
}

.button-contact {
  background-color: white;
}
@media not (width <= 1023px) {
  .button-contact:hover {
    opacity: 0.7;
  }
}

.button-border {
  border: 1px solid white;
}

.button__icon {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon-path {
  fill: white;
}

.button__text {
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 88px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
@media not (width <= 1023px) {
  .header {
    position: relative;
    height: auto;
  }
}

.header__container {
  position: relative;
  width: 100%;
}
@media not (width <= 1023px) {
  .header__container {
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
  }
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  letter-spacing: 0.12em;
}
@media not (width <= 1023px) {
  .header__logo {
    font-size: 30px;
  }
}

@media not (width <= 1023px) {
  .header__nav {
    display: block;
    padding-top: 40px;
  }
}

.header__nav-item + .header__nav-item {
  margin-top: 24px;
}

.header__hamburger--button {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 40px;
  height: 70px;
  z-index: 150;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  border: none;
}
@media not (width <= 1023px) {
  .header__hamburger--button {
    display: none;
  }
}
.header__hamburger--button::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px; /* 220% */
  content: "MENU";
}
.drawer-open .header__hamburger--button::after {
  content: "CLOSE";
}

.drawer-bar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.drawer-bar:nth-child(1) {
  top: calc(14px * 1);
}
.drawer-bar:nth-child(2) {
  top: calc(14px * 2);
}
.drawer-bar:nth-child(3) {
  top: calc(14px * 3);
}
.drawer-open .drawer-bar {
  width: 48px;
  top: 28px;
  right: -4px;
}
.drawer-open .drawer-bar:nth-child(1) {
  -webkit-transform: rotate(calc(45deg + 90deg * 1));
          transform: rotate(calc(45deg + 90deg * 1));
}
.drawer-open .drawer-bar:nth-child(2) {
  -webkit-transform: rotate(calc(45deg + 90deg * 2));
          transform: rotate(calc(45deg + 90deg * 2));
}
.drawer-open .drawer-bar:nth-child(3) {
  -webkit-transform: rotate(calc(45deg + 90deg * 3));
          transform: rotate(calc(45deg + 90deg * 3));
}

@media (width <= 1023px) {
  .drawer__nav {
    display: block;
    position: fixed;
    z-index: 40;
    padding-top: 88px;
    height: 100vh;
    top: 0;
    width: 100%;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .drawer-open .drawer__nav {
    right: 0;
  }
}

.section {
  margin-top: 60px;
  padding-block: 48px;
  background-color: #fff;
}
.section__inner {
  padding: 0 32px;
  max-width: 500px;
  margin-inline: auto;
}
@media not (width <= 1023px) {
  .section__inner {
    max-width: 944px;
  }
}

.section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}
@media not (width <= 1023px) {
  .section__head {
    margin-bottom: 24px;
  }
}

.section__head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
}
@media not (width <= 1023px) {
  .section__head-main {
    font-size: 60px;
  }
}

.section__head-center {
  text-align: center;
}

.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

.section__foot {
  margin-top: 16px;
}

.footer {
  background: white;
  text-align: center;
  padding: 10px;
}

.footer__copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}

.footer__pagetop {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  z-index: 30;
}
.is-scroll .footer__pagetop {
  pointer-events: auto;
  opacity: 1;
}
.drawer-open .footer__pagetop {
  opacity: 0;
}

.fv {
  padding-top: 100px;
  margin-top: 88px;
}
@media not (width <= 1023px) {
  .fv {
    margin-top: 0;
  }
}

@media not (width <= 1023px) {
  .fv__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media not (width <= 1023px) {
  .works,
  .skills {
    width: 50%;
  }
}

.works__slide--contents {
  position: relative;
}

.works__contents {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 10px 40px;
}

.works__img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}
.works__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.5;
}
.works__img .swiper-pagination {
  bottom: 7px;
}
.works__img .swiper-pagination-bullet {
  background: #c2c2c2;
  width: 15px;
  height: 15px;
  padding: 6px;
  opacity: 0.8;
  margin: 0 10px !important;
}
.works__img .swiper-pagination-bullet-active {
  background: #1391e6;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
}
.swiper-button-prev::before, .swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
}
.swiper-button-prev::before,
.swiper-button-next::before {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 20px;
}
.swiper-button-prev::after {
  background: url(../img/swiper_prev.svg) center center/cover;
}
@media (width <= 1023px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: 20px;
}
.swiper-button-next::after {
  background: url(../img/swiper_next.svg) center center/cover;
}
@media (width <= 1023px) {
  .swiper-button-next {
    right: 0;
  }
}

.skills__contents {
  background: white;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 20px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 15px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .skills__list {
    gap: 15px 10px;
  }
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item--img {
  width: 50px;
  height: 50px;
}
.skills__item--img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.skills__item-name {
  margin-left: 10px;
  width: 60px;
}

.skills__messages {
  margin-top: 20px;
  padding: 20px 10px 20px 30px;
  font-weight: bold;
}
.skills__messages ul {
  list-style: circle;
}
.skills__messages li {
  margin-top: 10px;
}

@media not (width <= 1023px) {
  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
}

.service__item {
  padding: 20px;
  background: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.service__item + .service__item {
  margin-top: 40px;
}
@media not (width <= 1023px) {
  .service__item + .service__item {
    margin-top: 0;
  }
}

.service__item-img {
  text-align: center;
  margin-bottom: 14px;
  height: 69px;
}

.service__item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}

@media not (width <= 1023px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__img {
  max-width: 400px;
}
@media not (width <= 1023px) {
  .about__img {
    margin-top: -100px;
  }
}
.about__img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.about__text-contents {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  margin-top: 2em;
}
@media not (width <= 1023px) {
  .about__text-contents {
    margin-top: 0;
  }
}

.about__text {
  margin-top: 10px;
}

.flow {
  background-color: #fafafa;
}

.flow__list {
  margin-top: 64px;
}
@media not (width <= 1023px) {
  .flow__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .flow__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
  }
}

.flow__item {
  position: relative;
  padding: 46px 12px 24px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-inline: auto;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .flow__item {
    width: 250px;
  }
}
.flow__item + .flow__item {
  margin-top: 46px;
}
@media not (width <= 1023px) {
  .flow__item + .flow__item {
    margin-top: 0;
  }
}

.flow__item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
  color: white;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow__item--container {
  height: 100%;
  padding: 10px;
  margin-inline: auto;
  background: white;
}

.flow__item-img {
  text-align: center;
  margin-bottom: 24px;
  height: 69px;
}

.flow__item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}

@media not (width <= 1023px) {
  .message__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

@media not (width <= 1023px) {
  .message__text-contents {
    min-width: 280px;
    margin: 0 auto 0 0;
  }
}

.message__img {
  margin-bottom: 32px;
  max-width: 400px;
}
.message__img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.message__text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
}

.page-bottom {
  color: white;
}
@media not (width <= 1023px) {
  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-bottom__item {
  padding: 40px;
}
@media not (width <= 1023px) {
  .page-bottom__item {
    padding: 54px 10px;
  }
}

.page-bottom__item-contact {
  background-color: #6f6f6f;
}

.kirin-dash {
  height: 170px;
  position: relative;
}

.kirin-dash--kirin {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: auto;
  -webkit-animation: kirin-dash 8s infinite linear forwards;
          animation: kirin-dash 8s infinite linear forwards;
}