@charset "UTF-8";
/*  scssへ記述  */
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

.util-btn--block,
.util-btn--inline-block {
  padding: 4px 22px 6px;
  font-size: 20px;
  color: #333;
  text-align: center;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px currentColor;
          box-shadow: 0px 4px 0px 0px currentColor;
}
.util-btn--block:hover,
.util-btn--inline-block:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: rgb(255, 240, 228);
  -webkit-box-shadow: 0px 0px 0px 0px currentColor;
          box-shadow: 0px 0px 0px 0px currentColor;
}

.util-btn--block {
  display: block;
  margin-inline: auto;
  width: 200px;
}

.util-btn--inline-block {
  display: inline-block;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
  background-color: transparent;
}
@media ( 1024px <= width) {
  .button {
    -webkit-transition: background 0.3s, color 0.3s, opacity 0.3s;
    transition: background 0.3s, color 0.3s, opacity 0.3s;
  }
  .button:hover {
    background-color: white;
  }
  .button:hover .button__icon-path {
    fill: #4a4a4a;
  }
  .button:hover .button__text {
    color: #4a4a4a;
  }
}

.button-contact {
  background-color: white;
}
@media ( 1024px <= width) {
  .button-contact:hover {
    opacity: 0.7;
  }
}

.button-border {
  border: 1px solid white;
}

.button__icon {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon-path {
  fill: white;
}

.button__icon-path-contact {
  fill: #4a4a4a;
}

.button__text {
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: white;
}

.button__text-contact {
  color: #4a4a4a;
}

.section {
  margin-top: 60px;
  padding-block: 48px;
  background-color: #fff;
}
.section:nth-of-type(2n) {
  background-color: rgb(255, 240, 228);
}

.section__inner {
  padding: 0 32px;
  max-width: 500px;
  margin-inline: auto;
}
@media ( 1024px <= width) {
  .section__inner {
    max-width: 944px;
  }
}

.section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}
@media ( 1024px <= width) {
  .section__head {
    margin-bottom: 24px;
  }
}

.section__head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
}
@media ( 1024px <= width) {
  .section__head-main {
    font-size: 60px;
  }
}
@media (768px <= width <= 1023px) {
  .section__head-main {
    font-size: 54px;
  }
}

.section__head-center {
  text-align: center;
}

.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}

.section__contents {
  margin-top: 40px;
}

.section__foot {
  margin-top: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 88px;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
@media (width <= 1023px) {
  .is-scroll .header {
    background: blue;
  }
}
@media ( 1024px <= width) {
  .header {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#00f), color-stop(#80f), to(#000));
    background: linear-gradient(to bottom, #00f, #80f, #000);
    width: 200px;
    height: auto;
  }
}

.header__container {
  position: relative;
  width: 100%;
}
@media ( 1024px <= width) {
  .header__container {
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 200px;
  }
}

.header__logo {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  letter-spacing: 0.12em;
}
@media ( 1024px <= width) {
  .header__logo {
    font-size: 30px;
  }
}

@media ( 1024px <= width) {
  .header__nav {
    display: block;
    padding-top: 40px;
  }
}

.header__nav-item + .header__nav-item {
  margin-top: 24px;
}

.header__hamburger--button {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 40px;
  height: 70px;
  z-index: 150;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
  border: none;
}
@media ( 1024px <= width) {
  .header__hamburger--button {
    display: none;
  }
}
.header__hamburger--button::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px; /* 220% */
  content: "MENU";
}
.drawer-open .header__hamburger--button::after {
  content: "CLOSE";
}

.drawer-bar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.drawer-bar:nth-child(1) {
  top: calc(14px * 1);
}
.drawer-bar:nth-child(2) {
  top: calc(14px * 2);
}
.drawer-bar:nth-child(3) {
  top: calc(14px * 3);
}
.drawer-open .drawer-bar {
  width: 48px;
  top: 28px;
  right: -4px;
}
.drawer-open .drawer-bar:nth-child(1) {
  -webkit-transform: rotate(calc(45deg + 90deg * 1));
          transform: rotate(calc(45deg + 90deg * 1));
}
.drawer-open .drawer-bar:nth-child(2) {
  -webkit-transform: rotate(calc(45deg + 90deg * 2));
          transform: rotate(calc(45deg + 90deg * 2));
}
.drawer-open .drawer-bar:nth-child(3) {
  -webkit-transform: rotate(calc(45deg + 90deg * 3));
          transform: rotate(calc(45deg + 90deg * 3));
}

@media (width <= 1023px) {
  .drawer__nav {
    display: block;
    position: fixed;
    z-index: 90;
    padding-top: 88px;
    height: 100vh;
    top: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#00f), color-stop(#80f), to(#000));
    background: linear-gradient(to bottom, #00f, #80f, #000);
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .drawer-open .drawer__nav {
    right: 0;
  }
}

.footer {
  background: white;
  text-align: center;
  padding: 10px;
}

.footer__copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}

.footer__pagetop {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;
  z-index: 80;
}
.is-scroll .footer__pagetop {
  pointer-events: auto;
  opacity: 1;
}
.drawer-open .footer__pagetop {
  opacity: 0;
}

.hover--bgc-slide {
  position: relative;
  overflow: hidden;
}
.hover--bgc-slide::before {
  content: "";
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(255, 240, 228);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.hover--bgc-slide:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hover__underline--from-left {
  background-image: -webkit-gradient(linear, left top, right top, from(#f00), to(#f00));
  background-image: linear-gradient(90deg, #f00, #f00); /* 改行しても下線を表示させるためにimage */
  background-repeat: no-repeat;
  background-position: left bottom; /* X軸の起点 Y軸の起点 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s; /* 線を伸ばすアニメーション実行時間を指定 */
}
.hover__underline--from-left:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}

@-webkit-keyframes kirin-dash {
  0%, 100% {
    left: 30px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    left: calc(100vw - 100px - 30px);
  }
  5% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  10% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  15% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  20% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  30% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  35% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  40% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  45% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  55% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  60% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  65% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  70% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  80% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  85% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  90% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  95% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
}

@keyframes kirin-dash {
  0%, 100% {
    left: 30px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    left: calc(100vw - 100px - 30px);
  }
  5% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  10% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  15% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  20% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  30% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  35% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  40% {
    -webkit-transform: rotate(-15deg) rotateY(0deg);
            transform: rotate(-15deg) rotateY(0deg);
  }
  45% {
    -webkit-transform: rotate(15deg) rotateY(0deg);
            transform: rotate(15deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  55% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  60% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  65% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  70% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  80% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  85% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
  90% {
    -webkit-transform: rotate(-15deg) rotateY(180deg);
            transform: rotate(-15deg) rotateY(180deg);
  }
  95% {
    -webkit-transform: rotate(15deg) rotateY(180deg);
            transform: rotate(15deg) rotateY(180deg);
  }
}
@media screen and (min-width: 1024px) {
  @-webkit-keyframes kirin-dash {
    0%, 100% {
      left: 15px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      left: calc(100vw - 200px - 100px - 15px);
    }
    5% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    10% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    15% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    20% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    25% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    30% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    35% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    40% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    45% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    55% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    60% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    65% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    70% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    75% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    80% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    85% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    90% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    95% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
  }
  @keyframes kirin-dash {
    0%, 100% {
      left: 15px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      left: calc(100vw - 200px - 100px - 15px);
    }
    5% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    10% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    15% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    20% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    25% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    30% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    35% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    40% {
      -webkit-transform: rotate(-15deg) rotateY(0deg);
              transform: rotate(-15deg) rotateY(0deg);
    }
    45% {
      -webkit-transform: rotate(15deg) rotateY(0deg);
              transform: rotate(15deg) rotateY(0deg);
    }
    50% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    55% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    60% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    65% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    70% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    75% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    80% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    85% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
    90% {
      -webkit-transform: rotate(-15deg) rotateY(180deg);
              transform: rotate(-15deg) rotateY(180deg);
    }
    95% {
      -webkit-transform: rotate(15deg) rotateY(180deg);
              transform: rotate(15deg) rotateY(180deg);
    }
  }
}
.dialog__wrapper {
  border: none;
  padding: 20px;
  width: 90%;
  border-radius: 24px;
}
.dialog__wrapper::-ms-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.dialog__wrapper::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

@media ( 1024px <= width) {
  .dialog__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.dialog__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  aspect-ratio: 3/2;
}
.dialog__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.dialog__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}
.dialog__text dt {
  margin-top: 10px;
}
.dialog__text dd {
  margin-left: 1em;
}

.modal__buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (width <= 767px) {
  .modal__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.modal__button {
  padding: 4px 22px 6px;
  display: block;
  margin-inline: auto;
  width: 200px;
  font-size: 20px;
  color: #333;
  text-align: center;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 0px 0px currentColor;
          box-shadow: 0px 4px 0px 0px currentColor;
}
.modal__button:hover {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  background-color: rgb(255, 240, 228);
  -webkit-box-shadow: 0px 0px 0px 0px currentColor;
          box-shadow: 0px 0px 0px 0px currentColor;
}

.contact {
  margin-top: 238px;
  background: #fff;
  padding-block: 40px 44px;
  text-align: center;
}
@media ( 1024px <= width) {
  .contact {
    margin-top: 0;
  }
}
@media ( 1024px <= width) {
  .contact {
    padding-block: 120px;
  }
}

.contact__inner {
  padding-inline: 20px;
}
@media (width <= 1023px) {
  .contact__inner {
    padding-inline: 10px;
  }
}

.contact__button--top {
  border: none;
}

.contact__message {
  margin-top: 24px;
  font-size: 12px;
  line-height: 160%;
}
@media ( 1024px <= width) {
  .contact__message {
    font-size: 16px;
    margin-top: 32px;
  }
}

.contact__fields {
  max-width: 848px;
  margin-inline: auto;
  margin-top: 24px;
}
@media ( 1024px <= width) {
  .contact__fields {
    margin-top: 38px;
  }
}

.contact__field {
  margin-top: 24px;
  text-align: left;
}
@media ( 1024px <= width) {
  .contact__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 22px;
  }
}

.contact__field__head {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  padding: 10px;
}

.contact__field--label {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
  display: grid;
  place-items: center;
}

.contact__field--tag {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 160%;
  padding: 4px 8px;
  border-radius: 4px;
  background: red;
  white-space: nowrap;
}

.contact__field--body {
  margin-top: 0;
}
@media ( 1024px <= width) {
  .contact__field--body {
    width: calc(100% - 180px - 40px);
    margin-top: 0;
  }
}

.contact__field--radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media ( 1024px <= width) {
  .contact__field--radio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
  }
}

.contact__privacy {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-button {
  margin-top: 24px;
}
@media ( 1024px <= width) {
  .contact-button {
    margin-top: 40px;
  }
}
.contact-button:disabled {
  cursor: not-allowed;
  border-color: transparent;
  background-color: #ccc;
  -webkit-box-shadow: 0px 4px 0px 0px transparent;
          box-shadow: 0px 4px 0px 0px transparent;
}
.contact-button:disabled:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  background-color: #ccc;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

.contact__message--success,
.contact__message--error {
  text-align: center;
  display: none;
  background: #fff;
  padding: contact 20px;
  font-size: 24px;
}

.contact__message--success {
  color: #00f;
}

.contact__messag---error {
  color: #f00;
}

input[type=text],
input[type=email],
textarea {
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #f5f5f5;
  width: 100%;
  padding: 10px 1em;
  color: black;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
@media ( 1024px <= width) {
  input[type=text],
  input[type=email],
  textarea {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
}
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, textarea::-moz-placeholder {
  color: #ccc;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #ccc;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  color: #ccc;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0em;
}
@media ( 1024px <= width) {
  input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
  input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
  input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
  input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  textarea::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
}
input[type=text]:hover, input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
textarea:hover,
textarea:focus {
  border-radius: 8px;
  border: 1px solid #77f;
  background: #e9f6f8;
  outline: none;
}

textarea {
  height: 160px;
  resize: vertical;
}

input[type=radio],
input[type=checkbox] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
input[type=radio] + span,
input[type=checkbox] + span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  padding-left: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media ( 1024px <= width) {
  input[type=radio] + span,
  input[type=checkbox] + span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0em;
  }
}
@media (width <= 1023px) {
  input[type=radio] + span,
  input[type=checkbox] + span {
    padding-left: 22px;
  }
}
input[type=radio] + span::before,
input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border: 1px solid transparent;
}
input[type=radio] + span::after,
input[type=checkbox] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6px;
  opacity: 0;
}
@media (width <= 1023px) {
  input[type=radio] + span::after,
  input[type=checkbox] + span::after {
    left: 4px;
  }
}
input[type=radio]:hover + span::before, input[type=radio]:focus + span::before, input[type=radio]:checked + span::before,
input[type=checkbox]:hover + span::before,
input[type=checkbox]:focus + span::before,
input[type=checkbox]:checked + span::before {
  border: 1px solid #77f;
}
input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
  opacity: 1;
}

input[type=radio] + span::before {
  width: 24px;
  height: 24px;
  background: #f5f5f5;
  border-radius: 50%;
}
@media (width <= 1023px) {
  input[type=radio] + span::before {
    width: 16px;
    height: 16px;
  }
}
input[type=radio] + span::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #77f;
}
@media (width <= 1023px) {
  input[type=radio] + span::after {
    width: 8px;
    height: 8px;
  }
}

input[type=checkbox] + span::before {
  width: 24px;
  height: 24px;
  background: #f5f5f5;
  border-radius: 4px;
}
@media (width <= 1023px) {
  input[type=checkbox] + span::before {
    width: 16px;
    height: 16px;
  }
}
input[type=checkbox] + span::after {
  width: 12px;
  height: 6px;
  border-bottom: solid 2px #77f;
  border-left: solid 2px #77f;
  -webkit-transform: translateY(-70%) rotate(-45deg);
          transform: translateY(-70%) rotate(-45deg);
}
@media (width <= 1023px) {
  input[type=checkbox] + span::after {
    width: 8px;
    height: 4px;
  }
}

.privacy-policy {
  padding: 100px 20px;
  background: white;
}
@media ( 1024px <= width) {
  .privacy-policy {
    padding: 100px 40px;
  }
}

.privacy-policy__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: center;
}

.privacy-policy__content {
  margin-top: 20px;
}

.privacy-policy__body {
  margin-top: 50px;
}

.privacy-policy__box {
  margin-top: 30px;
}

.privacy-policy__subTitle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
}

.privacy-policy__text {
  margin-top: 10px;
}

.privacy-policy__detail {
  list-style: inside;
  margin-left: 1em;
}

.privacy-policy__submit {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hidden-pc {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .hidden-sp {
    display: none;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (width <= 1023px) {
  .wrapper {
    display: block;
  }
}

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: #333;
}

@media ( 1024px <= width) {
  .main {
    width: calc(100% - 200px);
  }
}

.bg {
  background: url("../img/img_fv.jpg") top center/cover no-repeat;
  position: fixed;
  top: 0;
  height: 100vh;
  right: 0;
  width: 100%;
  z-index: -1;
}
@media ( 1024px <= width) {
  .bg {
    width: calc(100vw - 200px);
  }
}

.fv {
  padding-top: 100px;
  margin-top: 88px;
}
@media ( 1024px <= width) {
  .fv {
    margin-top: 0;
  }
}

@media ( 1024px <= width) {
  .fv__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media ( 1024px <= width) {
  .works,
  .skills {
    width: 50%;
  }
}

.works__slide--contents {
  position: relative;
}

.works__contents {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 10px 40px;
}

.works__img img {
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}
.works__img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.5;
}
.works__img .swiper-pagination {
  bottom: 7px;
}
.works__img .swiper-pagination-bullet {
  background: #c2c2c2;
  width: 15px;
  height: 15px;
  padding: 6px;
  opacity: 0.8;
  margin: 0 10px !important;
}
.works__img .swiper-pagination-bullet-active {
  background: #77f;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
}
.swiper-button-prev::before, .swiper-button-prev::after,
.swiper-button-next::before,
.swiper-button-next::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
}
.swiper-button-prev::before,
.swiper-button-next::before {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 20px;
}
.swiper-button-prev::after {
  background: url(../img/swiper_prev.svg) center center/cover;
}
@media (width <= 1023px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: 20px;
}
.swiper-button-next::after {
  background: url(../img/swiper_next.svg) center center/cover;
}
@media (width <= 1023px) {
  .swiper-button-next {
    right: 0;
  }
}

.skills__contents {
  background: white;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 20px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 15px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .skills__list {
    gap: 15px 10px;
  }
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item--img {
  width: 50px;
  height: 50px;
}
.skills__item--img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.skills__item-name {
  margin-left: 10px;
  width: 60px;
}

.skills__messages {
  margin-top: 20px;
  padding: 20px 10px 20px 30px;
  font-weight: bold;
}
.skills__messages ul {
  list-style: circle;
}
.skills__messages li {
  margin-top: 10px;
}
@media screen and (768px <= width <= 1023px) and (max-width: 1200px) {
  .skills__messages li {
    font-size: 12px;
  }
}

@media ( 1024px <= width) {
  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
}

.service__item {
  padding: 20px;
  background: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.service__item + .service__item {
  margin-top: 40px;
}
@media ( 1024px <= width) {
  .service__item + .service__item {
    margin-top: 0;
  }
}

.service__item-img {
  text-align: center;
  margin-bottom: 14px;
  height: 69px;
}

.service__item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}

@media ( 1024px <= width) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__img {
  max-width: 400px;
}
@media ( 1024px <= width) {
  .about__img {
    margin-top: -100px;
  }
}
.about__img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.about__text-contents {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  margin-top: 2em;
}
@media ( 1024px <= width) {
  .about__text-contents {
    margin-top: 0;
  }
}

.about__text {
  margin-top: 10px;
}

.flow {
  background-color: #fafafa;
}

.flow__list {
  margin-top: 64px;
}
@media ( 1024px <= width) {
  .flow__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .flow__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
  }
}

.flow__item {
  position: relative;
  padding: 46px 12px 24px;
  background: rgb(255, 240, 228);
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-inline: auto;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .flow__item {
    width: 250px;
  }
}
.flow__item + .flow__item {
  margin-top: 46px;
}
@media ( 1024px <= width) {
  .flow__item + .flow__item {
    margin-top: 0;
  }
}

.flow__item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 24px;
  background-color: #4a4a4a;
  color: white;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow__item--container {
  height: 100%;
  padding: 10px;
  margin-inline: auto;
  background: white;
}

.flow__item-img {
  text-align: center;
  margin-bottom: 24px;
  height: 69px;
}

.flow__item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}

@media ( 1024px <= width) {
  .message__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

@media ( 1024px <= width) {
  .message__text-contents {
    min-width: 280px;
    margin: 0 auto 0 0;
  }
}

.message__img {
  margin-bottom: 32px;
  max-width: 400px;
}
.message__img img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.message__text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
}

.page-bottom {
  color: white;
}
@media ( 1024px <= width) {
  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-bottom__item {
  padding: 40px;
}
@media ( 1024px <= width) {
  .page-bottom__item {
    padding: 54px 10px;
  }
}

.page-bottom__item-contact {
  background-color: #6f6f6f;
}

.page-bottom__item-twitter {
  background-color: #4a4a4a;
}

.kirin-dash {
  height: 170px;
  position: relative;
}

.kirin-dash--kirin {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: auto;
  -webkit-animation: kirin-dash 8s infinite linear forwards;
          animation: kirin-dash 8s infinite linear forwards;
}