@use "sass:map";
@use "../global" as *;

// お名前、メールアドレス
input[type="text"],
input[type="email"],
textarea {
  // 入力場所
  overflow: hidden; // 長文のはみ出し対策や外観カスタマイズに必要
  // border: none;
  border: 1px solid transparent; // ガタツキ防止
  border-radius: 8px;
  background: #f5f5f5;
  width: 100%;
  padding: 10px 1em;
  color: black;
  font-family: inherit;
  @include font(14, 400, 20, 0);
  @include mq(pc) {
    @include font(16, 400, 25.6, 0);
  }
  &::placeholder {
    color: #ccc;
    font-family: Noto Sans JP;
    @include font(14, 400, 20, 0);
    @include mq(pc) {
      @include font(16, 400, 25.6, 0);
    }
  }
  &:hover,
  &:focus {
    border-radius: 8px;
    border: 1px solid map.get($color, main);
    background: #e9f6f8;
    outline: none;
  }
}
// textareaは[type="text"],input[type="email"]の設定に加えて、高さ方向の設定も必要
textarea {
  // 高さの初期値
  height: 160px;
  // 高さは可変、横幅は固定
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  // 標準のラジオボタンを以下５行で非表示
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  & + span {
    // ボタン横の文字
    @include font(14, 400, 22.4, 0);
    @include mq(pc) {
      @include font(16, 400, 25.6, 0);
    }
    // ボタンの場所
    padding-left: calc(24px + 8px);
    @include mq(sp) {
      padding-left: calc(16px + 6px);
    }
    position: relative;
    display: flex;
    align-items: center;
    // ボタン枠
    &::before {
      // ボタン枠の配置場所
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      border: 1px solid transparent; // ガタツキ防止
      // ボタン枠のレイアウトは別途下に記載
    }
    // チェックマーク（ポチ丸・✓）
    &::after {
      // チェックマークの配置
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 6px;
      @include mq(sp) {
        left: 4px;
      }
      opacity: 0; // 非チェック時はポチ丸が透明
      // チェック時マークは別途下に記載
    }
  }
  // ホバー時、フォーカス時、チェック時にボーダー表示
  &:hover,
  &:focus,
  &:checked {
    & + span::before {
      border: 1px solid map.get($color, main);
    }
  }
  // チェック時にチェック時マークを表示
  &:checked + span::after {
    opacity: 1;
  }
}

// ボタン枠のレイアウト
input[type="radio"] {
  & + span {
    &::before {
      // ラジオボタン枠のレイアウト
      width: 24px;
      height: 24px;
      background: #f5f5f5;
      border-radius: 50%;
      @include mq(sp) {
        width: 16px;
        height: 16px;
      }
    }
    // チェック時マーク（ポチ丸）
    &::after {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: map.get($color, main);
      @include mq(sp) {
        width: 8px;
        height: 8px;
      }
    }
  }
}
input[type="checkbox"] {
  & + span {
    &::before {
      // チェックボックス枠のレイアウト
      width: 24px;
      height: 24px;
      background: #f5f5f5;
      border-radius: 4px;
      @include mq(sp) {
        width: 16px;
        height: 16px;
      }
    }
    // チェック時マーク（✓）
    &::after {
      width: 12px;
      height: 6px;
      border-bottom: solid 2px map.get($color, main);
      border-left: solid 2px map.get($color, main);
      transform: translateY(-70%) rotate(-45deg);
      @include mq(sp) {
        width: 8px;
        height: 4px;
      }
    }
  }
}

// input {
//   &[type="checkbox"] {
//     // 標準のチェックボックスを以下５行で非表示
//     width: 1px;
//     height: 1px;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 52px;
//     clip: rect(0, 0, 0, 0);
//     overflow: hidden;
//     & + span {
//       // チェックボックス横の文字
//       font-size: 14px;
//       @include mq(pc) {
//         font-size: 16px;
//       }
//       line-height: 160%;
//       // チェックボックスの場所
//       padding-left: calc(24px + 12px);
//       position: relative;
//       // チェックボックス（クリック前）
//       &::before {
//         width: 24px;
//         height: 24px;
//         border-radius: 4px;
//         background: #f5f5f5;
//         content: "";
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         left: 0;
//       }
//       // チェックボックス（クリック後）
//       &::after {
//         content: "";
//         position: absolute;
//         top: 50%;
//         height: 6px;
//         left: 6px;
//         width: 12px;
//         border-bottom: solid 2px #67b0c7;
//         border-left: solid 2px #67b0c7;
//         transform: translateY(-50%) rotate(-45deg);
//         opacity: 0;
//       }
//     }
//     // checked時に表示
//     &:checked + span {
//       &::before {
//         border: 1px solid map.get($color, main);
//       }
//       &::after {
//         opacity: 1;
//       }
//     }
//     &:hover,
//     &:focus {
//       & + span::before {
//         border: 1px solid map.get($color, main);
//       }
//     }
//   }
// }

// select {
//   // 標準のセレクト矢印を非表示
//   appearance: none;
//   outline: none;
//   // select要素は疑似要素を直接設定不可。親要素で設定する。border-radiusも親要素で設定する。
//   border: none;
//   background: #f5f5f5;
//   width: 100%;
//   height: 56px;
//   padding: 16px;
//   color: black;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 160%;
//   font-family: inherit;
//   letter-spacing: 0;
//   &.error {
//     border-radius: 8px;
//     border: 1px solid red;
//     background: #fff0f7;
//     outline: none;
//   }
//   &:hover,
//   &:focus {
//     border-radius: 8px;
//     border: 1px solid map.get($color, main);
//     background: #e9f6f8;
//     outline: none;
//   }
//   @include mq(pc) {
//     font-size: 16px;
//   }
// }
