@use "sass:map";
@use "../global" as *;

.dialog__wrapper {
  // 標準でdialogにはwidth,heightの最大値が設定されている。
  // max-width: calc(100% - 2em - 6px);
  // max-height: calc(100% - 2em - 6px);
  border: none;
  padding: 20px;
  width: 90%;
  // overflow: auto;
  border-radius: 24px;
  &::backdrop {
    background-color: rgba(#000, 0.8);
  }
}
.dialog__container {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.dialog__img {
  flex: 0 1 48%;
  aspect-ratio: 3 / 2;
  // min-height: 200px;
  img {
    object-fit: cover;
  }
}
.dialog__text {
  flex: 0 0 48%;
  dt {
    margin-top: 10px;
  }
  dd {
    margin-left: 1em;
  }
}
.modal__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media (width <= 767px) {
    flex-direction: column;
    gap: 20px;
  }
}
.modal__button {
  // display: inline-block;
  padding: 4px 22px 6px;
  display: block;
  margin-inline: auto;
  width: 200px;
  font-size: 20px;
  color: map.get($color, font);
  text-align: center;
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 2px solid currentColor;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 0px 0px currentColor;

  &:hover {
    transform: translateY(4px);
    background-color: map.get($color, hov-btn);
    box-shadow: 0px 0px 0px 0px currentColor;
  }
}
