@use "sass:map";
@use "./global" as *;
@use "./blocks" as *;

.fv {
  padding-top: 100px;
  margin-top: map.get($header, sp-height);
  @include mq(pc) {
    margin-top: 0;
  }
}
.fv__container {
  @include mq(pc) {
    display: flex;
    justify-content: space-between;
  }
}
.works,
.skills {
  @include mq(pc) {
    width: 50%;
  }
}
.works__slide--contents {
  position: relative;
}

.works__contents {
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  // width: min(100%, 360px);
  // padding-block: 32px;
  margin-top: 30px;
  padding: 10px 10px 40px;
  // background: map.get($color, section-sub);
}
.works__img {
  img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    transition: 1s;
    &:hover {
      transform: scale(1.2);
      opacity: 0.5;
    }
  }

  // .swiper-button-prev,
  // .swiper-button-next {
  //   margin-top: 30px;
  //   width: 80px;
  //   height: 80px;
  //   cursor: pointer;
  //   // position: relative;
  //   // デフォルトの矢印を消す
  //   &::after {
  //     content: "";
  //     // font-size: 36px;
  //     // font-weight: bold;
  //     // color: map.get($color, main);
  //   }
  //   // &::before {
  //   //   position: absolute;
  //   //   top: 0;
  //   //   left: 0;
  //   //   // top: 50%;
  //   //   // left: 50%;
  //   //   transform: translate(-50%, -50%);
  //   //   content: "";
  //   //   // display: block;
  //   //   width: 80px;
  //   //   height: 80px;
  //   //   background-color: rgba(255, 255, 255, 0.5);
  //   //   border-radius: 50%;
  //   //   // border: none;
  //   //   transition: background-color 0.5s;
  //   // }
  // }

  .swiper-pagination {
    // bottom: -5px;
    bottom: 7px;
  }
  .swiper-pagination-bullet {
    background: #c2c2c2;
    // width: 8px;
    // height: 8px;
    width: 15px;
    height: 15px;
    padding: 6px;
    opacity: 0.8;
    margin: 0 10px !important;
    // @include mq(sp) {
    //   width: 6px;
    //   height: 6px;
    // }
  }
  .swiper-pagination-bullet-active {
    background: map.get($color, main);
  }
}
// swiper内では柔軟にボタンのサイズ変更できないので外だし
.swiper-button-prev,
.swiper-button-next {
  position: absolute;

  // top: calc(50% + 40px);
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
  }
  &::before {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev {
  // position: absolute;

  left: 20px;
  &::after {
    background: url(../img/swiper_prev.svg) center center / cover;
  }
  @include mq(sp) {
    left: 0;
  }
}
.swiper-button-next {
  // position: absolute;
  right: 20px;
  &::after {
    background: url(../img/swiper_next.svg) center center / cover;
  }
  @include mq(sp) {
    right: 0;
  }
}

.skills__contents {
  background: white;
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  // width: min(100%, 360px);
  // padding-block: 32px;
  margin-top: 30px;
  padding: 20px;
  // .skills__list {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 15px;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    gap: 15px 10px;
  }
  // width: calc(33% - 10px * 2 - 1px);
  // 実際に格納される.skills__itemは50px+10px+60px=120px
}
.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__item--img {
  width: 50px;
  height: 50px;
  // margin-inline: auto;
  img {
    object-fit: cover;
  }
}

.skills__item-name {
  margin-left: 10px;
  //一番長い単語に合わせる（一番長い単語は「JavaScript」）
  width: 60px;
}

.skills__messages {
  margin-top: 20px;
  padding: 20px 10px 20px 30px;
  // background: map.get($color, section-sub);
  font-weight: bold;
  ul {
    list-style: circle;
  }
  li {
    margin-top: 10px;
    @include mq(tb) {
      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }
    }
  }
}

// .fv__contents {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   // bottom: 26px;
//   left: 0;
//   width: 100%;
//   width: 300px;
//   // height: 209px;
//   // background: url(../img/sp/bg_fv-sp.png) center center/contain no-repeat;
//   // background-size: 100% auto;
//   padding: 32px;
//   @include mq(pc) {
//     // background: url(../img/bg_fv.png) center center/contain no-repeat;
//     // bottom: 100px;
//     // width: 100%;
//     // max-width: 627px;
//     // height: 174px;
//     // padding-top: 24px;
//     // padding-left: 96px;
//   }
//   @include mq(tb) {
//     bottom: 50%;
//     transform: translateY(50%);
//   }
// }
// .fv__heading-main {
//   display: block;
//   font-size: 40px;
//   letter-spacing: 0.1em;
// }
// .fv__heading-sub {
//   margin-top: 12px;
//   display: block;
//   font-size: 14px;
// }
// .fv__img {
//   margin-bottom: 12px;
//   overflow: hidden;
//   img {
//     transition: 1s;
//     aspect-ratio: 3 / 2;
//     // width: 1200px;
//     // height: 800px;
//     object-fit: cover;
//     box-shadow: 0 4px 15px 0 rgba(black, 0.15);
//     &:hover {
//       transform: scale(1.2);
//     }
//   }
// }
// .service {
// margin-top: 60vh;
// }
.service__list {
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
}
.service__item {
  padding: 20px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  & + & {
    margin-top: 40px;
    @include mq(pc) {
      margin-top: 0;
    }
  }
}
.service__item-img {
  text-align: center;
  margin-bottom: 14px;
  height: 69px;
}
.service__item-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.service__item-text {
  font-size: 14px;
  line-height: 1.6;
}
// .works {
//   background-color: map.get($color, bg-light);
// }
// .works__list {
//   @include mq(pc) {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 8%;
//   }
// }
// .works__item {
//   & + & {
//     margin-top: 40px;
//   }
//   @include mq(pc) {
//     height: 200px;
//     & + & {
//       margin-top: 0;
//     }
//   }
// }
// .works__item-img {
//   margin-bottom: 12px;
//   overflow: hidden;
//   img {
//     transition: 1s;
//     aspect-ratio: 3 / 2;
//     // width: 1200px;
//     // height: 800px;
//     object-fit: cover;
//     box-shadow: 0 4px 15px 0 rgba(black, 0.15);
//     &:hover {
//       transform: scale(1.2);
//     }
//   }
// }

// .works__item-name {
//   font-size: 16px;
//   font-weight: bold;
//   margin-bottom: 6px;
// }
// .works__item-link {
//   font-size: 14px;
//   text-decoration: underline;
// }

.about__container {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: space-between;
  }
}
.about__img {
  @include mq(pc) {
    margin-top: -100px;
  }
  max-width: 400px;
  img {
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  }
}
.about__text-contents {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  // & + & {
  margin-top: 2em;
  @include mq(pc) {
    margin-top: 0;
  }
  // }
}
.about__text {
  margin-top: 10px;
}
.flow {
  background-color: #fafafa;
  // .section__inner {
  //   max-width: 100%;
  // }
}
.flow__list {
  // max-width: calc(880px + 32px * 2);
  // margin-inline: auto;
  margin-top: 64px;
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
  }
}
.flow__item {
  position: relative;
  padding: 46px 12px 24px;
  background: map.get($color, section-sub);
  box-shadow: 0 4px 15px 0 rgba(black, 0.15);

  // @media screen and (max-width: 1200px) {
  // max-width: 180px;
  // width: 185px;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    width: 250px;
  }
  margin-inline: auto;
  // }

  & + & {
    margin-top: 46px;
    @include mq(pc) {
      margin-top: 0;
    }
  }
}
.flow__item-num {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background-color: map.get($color, bg-dark);
  color: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flow__item--container {
  height: 100%;
  // @include mq(pc) {
  //   max-width: calc(880px + 32px * 2);
  // }
  padding: 10px;
  margin-inline: auto;
  background: white;
}

.flow__item-img {
  text-align: center;
  margin-bottom: 24px;
  height: 69px;
}
.flow__item-name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.flow__item-text {
  font-size: 14px;
  line-height: 1.6;
}
.message__container {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
}
.message__text-contents {
  @include mq(pc) {
    min-width: 280px;
    margin: 0 auto 0 0;
  }
}
.message__img {
  margin-bottom: 32px;
  max-width: 400px;
  img {
    box-shadow: 0 4px 15px 0 rgba(black, 0.15);
  }
}
.message__text {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
}
.page-bottom {
  color: white;
  @include mq(pc) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.page-bottom__item {
  padding: 40px;
  @include mq(pc) {
    padding: 54px 10px;
  }
}
.page-bottom__item-contact {
  background-color: #6f6f6f;
}
.page-bottom__item-twitter {
  background-color: map.get($color, bg-dark);
}

// ダッシュする領域
.kirin-dash {
  height: 170px;
  position: relative;
}
.kirin-dash--kirin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // キリンの横幅、縦幅は画像に合わせる
  width: 100px;
  height: auto;
  animation: kirin-dash 8s infinite linear forwards;
}
