@use "sass:map";

$size: (
  sp-max: 1023px,
  pc-min: 1024px,
);

$breakpoints: (
  // "sp": "(width <= 767px)",
  "sp": "(width <=  #{map.get($size, "sp-max")})",
  "tb": "(768px <= width <=  1023px)",
  "pc": "( #{map.get($size, "pc-min")} <= width)",
  // "pc": "(768px <= width)",
) !default;

@mixin mq($breakpoint: "sp") {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

//Figmaç”¨
@mixin font($size: null, $weight: null, $height: null, $spacing: null) {
  @if $size {
    font-size: calc($size / 16 * 1rem);
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $height {
    line-height: calc($height / $size);
  }
  @if $spacing {
    letter-spacing: calc($spacing / $size * 1em);
  }
}
