// カラー
$color: (
  main: #77f,
  font: #333,
  accent: #f00,
  hov-btn: rgba(255, 240, 228, 1),
  header-bg-pc: linear-gradient(to bottom, #00f, #80f, #000),
  header-bg-sp: blue,
  drawer-bg-sp: linear-gradient(to bottom, #00f, #80f, #000),
  section-sub: rgb(255, 240, 228),
  bg-dark: #4a4a4a,
);

// 階層
$layer: (
  hamburger: 150,
  modal: 100,
  drawer: 40,
  totop: 30,
  header: 20,
  footer: 10,
  default: 1,
  background: -1,
);

$header: (
  pc-width: 200px,
  sp-height: 88px,
);
