@use "sass:map";
@use "../../sass/global/" as *;
@use "../../sass/blocks/" as *;

.greeting {
  margin-top: 87px;
  @media screen and (max-width: 1024px) {
    margin-top: 66px;
  }
  .section__inner {
    padding-inline: size-calc(40, 140, 1024, 1280);
  }
}

.greeting__container {
  margin-top: 65px;
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;

  // width: 100%;
  @media screen and (max-width: 1024px) {
    // padding-inline: 20px;
    padding-inline: size-calc(20, 140, 375, 1280);
    margin-top: 40px;
  }
}

.greeting__message {
  max-width: 460px;
  text-align: left;
  @media screen and (max-width: 1024px) {
    padding-bottom: 40px;
  }
}

.greeting__message--main {
  @include font(28, 700, 44, 2.24);
  @media screen and (max-width: 1024px) {
    @include font(20, 700, 32, 1.6);
  }
}

.greeting__message--sub {
  @include font(14, 500, 24, null);
  margin-top: 36px;

  @media screen and (max-width: 1024px) {
    @include font(14, 500, 24, null);
    margin-top: 27px;
  }
}

.greeting__name {
  text-align: right;
  margin-top: 14px;
  @include font(14, 500, 24, null);
  @media screen and (max-width: 1024px) {
    margin-top: 34px;
  }
}

.greeting__img {
  position: absolute;
  top: 0;
  right: 0;
  // max-width: 460px;
  // width: size-calc(355, 460, 768, 1280);
  // height: 613px;
  width: 460px;
  img {
    aspect-ratio: 460/613;
    width: 100%;
    // height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  @media screen and (max-width: 1024px) {
    position: revert;
    width: revert;
  }
}

.greeting__profile {
  text-align: left;
  // max-width: 460px;
  width: size-calc(355, 460, 768, 1280);
  width: 460px;
  @media screen and (max-width: 1024px) {
    width: revert;
  }
}

.greeting__brief-history {
  margin-top: 59px;
  @media screen and (max-width: 1024px) {
    margin-top: 42px;
  }
}

.greeting__brief-history--title,
.greeting__title {
  // size,weight,height,spacing
  @include font(16, 500, null, null);
  padding-bottom: 7px;
  position: relative;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--font);
  }
}

.greeting__brief-history--texts,
.greeting__text {
  margin-top: 18px;
  display: flex;
  // align-items: center;
  gap: 15px;
  // size,weight,height,spacing
  @include font(14, 500, 24, null);
  & + & {
    margin-top: 11px;
  }
  @media screen and (max-width: 1024px) {
  }
}

.greeting__brief-history--year {
}

.greeting__brief-history--text {
}

.greeting__qualification {
  margin-top: 30px;
  @media screen and (max-width: 1024px) {
    margin-top: 38px;
  }
}

// .greeting__title {
// }

// .greeting__text {
// }

.greeting__slider {
  margin-top: 160px;
  @media screen and (max-width: 1024px) {
    margin-top: 98px;
  }
}

.swiper-container {
}

.swiper {
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  width: 305px;
  img {
    aspect-ratio: 305/229;
    // width: 100%;
    width: 305px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    @media screen and (max-width: 1024px) {
      width: 200px;
      aspect-ratio: 200/150;
    }
  }
}

.introduction {
  margin-top: 160px;
  margin-bottom: 192px;

  // .section__title {
  //   transform: translate(2px, 4px);
  // }
  @media screen and (max-width: 1024px) {
    margin-top: 100px;
    margin-bottom: 130px;
  }
}

.introduction__container {
  padding-inline: size-calc(20, 140, 375, 1280);
  text-align: left;
  margin-top: 71px;
  &.is-assistant {
    margin-top: 63px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 47px;
    &.is-assistant {
      margin-top: 44px;
    }
  }
}

.introduction__title {
  @include font(16, 700, null, 1.28);
  padding-bottom: 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #707070;
  }
  .is-assistant & {
    padding-bottom: 9px;
  }
}

.introduction__wrapper {
  margin-top: 40px;
  display: flex;
  gap: 60px 80px;
  flex-wrap: wrap;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 55.5px;
    margin-top: 36px;
  }
}
.introduction__item {
  width: 280px;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
.introduction__img {
  img {
    aspect-ratio: 280/280;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    // object-position: 0 -6px;
  }
}

.introduction__name {
  margin-top: 19px;
  display: flex;
  justify-content: center;
  gap: 12px;
  .is-assistant & {
    margin-top: 20px;
  }
}

.introduction__name--position {
  padding-top: 4px;
  @include font(12, 500, null, 0.96);
}

.introduction__name--full-name {
  // size,weight,height,spacing
  @include font(18, 700, null, 1.44);
}

.introduction__profile {
  margin-top: 18px;
  @media screen and (max-width: 1024px) {
    margin-top: 21px;
  }
  dl {
    border-bottom: #fff solid 1px;
    @include font(14, 500, null, null);
    display: flex;
    flex-wrap: wrap;
  }
  dt,
  dd {
    width: 50%;
    padding: 19px 20px;
  }
  dt {
    background: #dff1fd;
    @media screen and (max-width: 1024px) {
      width: 140px;
    }
    dd {
      flex: 1;
    }
  }
}

// .footer__copy {
//   margin-top: 63px;
//   padding-top: 20px;
// }
