@use "sass:map";
@use "../global" as *;

.medical-u {
  margin-top: 338px;
  padding-bottom: 82px;
  background-color: var(--sub2);
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  &::before {
    aspect-ratio: calc(1280 / 203);
    bottom: 100%;
    background: url(../img/medical__bg--bottom-pc.webp) no-repeat top center/cover;
    @include mq(sp) {
      aspect-ratio: calc(375 / 88);
      background: url(../img/medical-u__bg--top-sp.webp) no-repeat top center/cover;
    }
  }
  &::after {
    aspect-ratio: calc(1280 / 97);
    top: 100%;
    background: url(../img/medical-u__bg--bottom-pc.webp) no-repeat bottom center/cover;
    @include mq(sp) {
      aspect-ratio: calc(375 / 28);
      background: url(../img/medical-u__bg--bottom-sp.webp) no-repeat bottom center/cover;
    }
  }
  @include mq(sp) {
    margin-top: 186px;
    padding-bottom: 62px;
  }
}
.practice-nav {
  margin-top: size-calc(65, 87, 375, 1280);
}
.practice-nav__inner {
  padding-inline: size-calc(20, 62, 375, 1280);
}
.practice-nav--items {
  display: flex;
  flex-direction: column;
  gap: 85px;
  @include mq(sp) {
    gap: 83px;
    max-width: 335px;
    margin-inline: auto;
  }
}
.practice-nav__title {
  display: flex;
  gap: 22px;
  @include mq(sp) {
    align-items: center;
  }
}
.practice-nav__title--text {
  text-align: center;
  @include font(28, 700, null, 2.24);
  @include mq(sp) {
    @include font(20, 700, null, 1.6);
  }
}
.practice-nav__title--label {
  display: grid;
  place-items: center;
  color: #fff;
  text-align: center;
  @include font(14, 700, null, 1.12);
  border-radius: 24px;
  padding: 10px 12px 8px;
  margin-top: -3px;
}
.general--label {
  background: var(--main);
}
.special--label {
  background: var(--accent);
}
.practice-nav__menu {
  display: flex;
  gap: 16px;
  margin-top: 35px;
  flex-wrap: wrap;
  @include mq(sp) {
    flex-direction: column;
    margin-top: 32px;
    gap: 15px;
  }
}
.practice-nav__menu--item {
  color: var(--main);
  @include font(24, 700, null, 1.92);
  border-radius: 12px;
  border: 2px solid var(--main);
  background: #fff;
  padding: 21px 28px 19px 30px;
  @include mq(sp) {
    text-align: center;
    @include font(20, 700, null, 1.6);
    padding: 17px;
  }
}
.general-practice {
  margin-top: 363px;
  @include mq(sp) {
    margin-top: 188px;
  }
}
.medical-u__body {
  @include mq(sp) {
    padding-top: 31px;
  }
  position: relative;
  .special-practice & {
    @include mq(sp) {
      padding-top: 25px;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: auto;
    z-index: 10;
  }
  &::before {
    left: 40px;
    bottom: -81px;
    aspect-ratio: 57/56;
    width: calc(57 / 1280 * 100%);
    background: url(../img/deco-kirakira-single.webp) no-repeat center/cover;
  }
  &::after {
    right: 21px;
    bottom: -103px;
    aspect-ratio: calc(125 / 138);
    width: calc(125 / 1280 * 100%);
    background: url(../img/deco-kirakira-double.webp) no-repeat center/cover;
  }
  @include mq(sp) {
    &::before {
      left: 12px;
      bottom: -63px;
      aspect-ratio: calc(24 / 25);
      width: calc(24 / 375 * 100%);
      .special-practice & {
        bottom: -70px;
      }
    }
    &::after {
      right: 7px;
      bottom: -81px;
      aspect-ratio: calc(56 / 60);
      width: calc(56 / 375 * 100%);
      .special-practice & {
        bottom: -88px;
      }
    }
  }
}
.medical-u__inner {
  @include mq(sp) {
    padding-inline: size-calc(20, 140, 375, 767);
  }
}
.medical-u__items {
  margin-top: size-calc(43, 64, 375, 1280);
  display: flex;
  flex-direction: column;
  gap: 40px;
  .special-practice & {
    margin-top: size-calc(50, 67, 375, 1280);
  }
}

.medical-u__item {
  border-radius: 20px;
  background: #fff;
  position: relative;
}
.medical-u__item--inner {
  padding-top: size-calc(21, 66, 375, 1280);
  padding-inline: size-calc(20, 60, 375, 1280);
  padding-bottom: size-calc(20, 60, 375, 1280);
}
.medical-u__label {
  position: absolute;
  top: 0;
  right: 60px;
  color: #fff;
  text-align: center;
  width: 100px;
  height: 80px;
  padding-top: 27px;
  @include font(16, 700, null, 1.28);
  background: url(../img/medical_label.svg) no-repeat center/cover;
  @include mq(sp) {
    right: 20px;
    width: 80px;
    height: 60px;
    padding-top: 17px;
    @include font(14, 700, null, 1.12);
    background: url(../img/medical_label-sp.svg) no-repeat center/cover;
  }
  .special-practice & {
    padding-top: 25px;
    padding-left: 8px;
    @include font(16, 700, null, 7.2);
    background: url(../img/medical_special_label.svg) no-repeat center/cover;
    @include mq(sp) {
      padding-top: 17px;
      padding-left: 4px;
      @include font(14, 700, null, 3.5);
      background: url(../img/medical_special_label-sp.svg) no-repeat center/cover;
    }
  }
}
.medical-u__title {
  display: flex;
  align-items: center;
  gap: size-calc(23, 38, 375, 1280);
  padding-bottom: 77px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c2c2c2;
  }
  @include mq(sp) {
    flex-direction: column;
    padding-bottom: 39px;
    align-items: revert;
    text-align: left;
    &::after {
      bottom: 16px;
    }
  }
}
.medical-u__title--main {
  @include font(28, 700, null, 2.24);
  @include mq(sp) {
    @include font(20, 700, 28, 1.6);
  }
}

.medical-u__title--sub {
  color: var(--main);
  @include font(14, 700, null, 1.12);
}

.medical-u__contents {
  display: flex;
  @include mq(sp) {
    flex-direction: column;
  }
  gap: size-calc(16, 41, 768, 1280);
}

.medical-u__contents--texts {
  @include font(14, 500, 24, null);
  text-align: left;
  flex: 1;
}
.medical-u__contents--text {
  & + & {
    margin-top: 24px;
  }
}
.medical-u__contents--img {
  width: calc(420 / 880 * 100%);
  @include mq(sp) {
    width: 100%;
    img {
      aspect-ratio: 295/221;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  img {
    border-radius: 20px;
    aspect-ratio: 420/315;
    width: 100%;
    object-fit: cover;
  }
}
.special-practice {
  margin-top: size-calc(216, 461, 375, 1280);
  margin-bottom: size-calc(163, 290, 375, 1280);
}
.footer__copy {
  margin-top: 63px;
  padding-top: 20px;
}
