@use "sass:map";
@use "../../sass/global/" as *;
@use "../../sass/blocks/" as *;

.contact {
  margin-top: 80px;
  margin-bottom: 160px;
  @include mq(sp) {
    margin-top: 61px;
    margin-bottom: 100px;
  }
}

.contact__inner {
  padding-inline: size-calc(20, 275, 375, 1280);
}

.contact__message {
  @include font(14, 500, 24, null);
  text-align: left;
}

.section__title {
  // text-align: center;
  margin-top: 157px;
  @include mq(sp) {
    margin-top: 100px;
    @include font(20, 700, 28, 1.6);
  }
}

.contact__form {
  margin-top: 74px;
}

.contact__form--item {
  text-align: left;
  padding-block: 28px;
  display: flex;
  // justify-content: space-between;
  gap: 60px;
  align-items: center;
  border-top: #ddd solid 1px;
  border-bottom: #ddd solid 1px;
  @include font(16, 500, null, null);
}

.contact__form--label {
  padding-right: 52px;
  position: relative;
  &.is-required::after {
    content: "必須";
    background-color: var(--accent);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 36px;
    height: 23px;
    border-radius: 4px;
    @include font(12, 700, null, null);
    color: #fff;
    display: grid;
    place-items: center;
  }
}

.contact__form--input {
  flex: 1;

  padding-block: 12px;
  padding-left: 16px;
  border-radius: 4px;
  background: #f6f6f6;
  ::placeholder {
    color: #c2c2c2;
    // size,weight,height,spacing
    @include font(16, 500, null, null);
  }
}

.contact__form--textarea {
}

.button {
}

.contact__button--top {
  border: none;
}

.contact-button {
  margin-top: 24px;
  @include mq(pc) {
    margin-top: 40px;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    background-color: #ccc;
    box-shadow: 0px 4px 0px 0px transparent;
    &:hover {
      transform: translateY(0px);
      background-color: #ccc;
      box-shadow: 0px 0px 0px 0px transparent;
    }
  }
}
.contact__message--success,
.contact__message--error {
  text-align: center;
  display: none;
  background: #fff;
  padding: contact 20px;
  font-size: 24px;
}
.contact__message--success {
  color: #00f;
}
.contact__messag---error {
  color: #f00;
}
