@use "sass:map";
@use "../../sass/global/" as *;
@use "../../sass/blocks/" as *;

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: map.get($color, font);
}
