@use "sass:map";
@use "../global" as *;

.blog {
  margin-top: 260px;
  padding-bottom: 193px;
}

.blog__wrapper {
  margin-top: 85px;
  padding-inline: 140px;
}

.blog__list {
  display: flex;
  justify-content: center;
  gap: 60px 50px;
  flex-wrap: wrap;
}

.blog__item {
  width: calc(300 / 1000 * 100%);
  position: relative;
  &.is-new {
    &::before {
      content: "NEW";
      position: absolute;
      top: -20px;
      left: -10px;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      background: #ee5a6d;
      color: #fff;
      @include font(16, 700, null, null);
      text-align: center;
      border-radius: 50%;
      z-index: 1;
      line-height: 60px;
    }
  }
  // &:nth-child(4) {
  //   margin-left: 3px;
  // }
  // &:nth-child(6) {
  //   margin-right: -3px;
  // }
}

.blog__link {
}

.blog__img {
  // width: 100%;
  // height: 188px;

  position: relative;
  img {
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 300/188;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray 50% / cover no-repeat;
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
  }
}

.blog__text {
  border-radius: 0px 0px 20px 20px;
  padding: 23px 24px 12px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  text-align: left;
  position: relative;
}

.blog__category {
  position: absolute;
  top: -14px;
  left: 24px;
  display: inline-block;
  @include font(11, 500, null, null);
  padding: 8px 12px 7px;
  border-radius: 14px;
  background: #1391e6;
  color: #fff;
}

.blog__title {
  @include font(16, 500, 24, null);
}

.blog__data {
  color: #888;
  display: inline-block;
  margin-top: 5px;
  @include font(11, 500, null, null);
}

.blog__button {
  margin-top: 60px;
  // size,weight,height,spacing
  @include font(14, 500, null, null);
}

.button {
}

.button--arrow-right {
}
