@use "sass:map";
@use "../global" as *;

.button {
  display: inline-block;
  text-align: center;
  border: 1px solid map.get($color, main);
  background: #fff;
  color: map.get($color, main);
  &:hover {
    background: map.get($color, main);
    color: #fff;
  }
}

.button--label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  @include mq(sp) {
    gap: 8px;
  }
}
.button--icon {
  display: grid;
  place-items: center;
}

.button--color-reverse {
  background: map.get($color, main);
  color: #fff;
  &:hover {
    background: #fff;
    color: map.get($color, main);
  }
}

.button--icon-path {
  .button--reservation:hover & {
    fill: map.get($color, main);
  }
  .button--contact:hover & {
    stroke: #fff;
  }
}
