@use "sass:map";
@use "../global" as *;

// contact
.contact {
  margin-top: calc(map.get($header, sp-height) + 150px);
  @include mq(pc) {
    margin-top: 0;
  }
  background: #fff;
  padding-block: 40px 44px;
  text-align: center;
  @include mq(pc) {
    padding-block: 120px;
  }
}
.contact__inner {
  padding-inline: 20px;
  @include mq(sp) {
    padding-inline: 10px;
  }
}

.contact__button--top {
  border: none;
}

.contact__message {
  margin-top: 24px;
  font-size: 12px;
  line-height: 160%;
  @include mq(pc) {
    font-size: 16px;
    margin-top: 32px;
  }
}

.contact__fields {
  max-width: 848px;
  margin-inline: auto;
  margin-top: 24px;
  @include mq(pc) {
    margin-top: 38px;
  }
}
.contact__field {
  margin-top: 24px;
  text-align: left;
  @include mq(pc) {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 22px;
  }
}

.contact__field__head {
  // width: 260px;
  width: 200px;
  // font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  // size,weight,height,spacing
  @include font(16, 400, 25.6, 0);
  padding: 10px;
}

.contact__field--label {
  @include font(14, 700, 22.4, 0);
  display: grid;
  place-items: center;
}
.contact__field--tag {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 160%;
  padding: 4px 8px;
  border-radius: 4px;
  background: red;
  white-space: nowrap;
}
.contact__field--body {
  // margin-top: 8px;
  margin-top: 0;
  @include mq(pc) {
    width: calc(100% - 180px - 40px);
    margin-top: 0;
  }
}
.contact__field--radio-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  @include mq(pc) {
    flex-direction: row;
    gap: 15px;
  }
}

// .contact-select-box {
//   margin-top: 8px;
//   @include mq(pc) {
//     margin-top: 0;
//   }
//   border-radius: 8px;
//   overflow: hidden;
//   position: relative;
//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//     width: 52px;
//     height: 56px;
//     background: map.get($color, main) no-repeat url(../img/Icon/Icon=arrow-bottom.svg) center center;
//     pointer-events: none;
//   }
// }

.contact__privacy {
  width: 100%;
  justify-content: center;
  // display: block;
  // position: relative;
  // margin-top: 21px;
  // @include mq(pc) {
  //   margin-top: 42px;
  // }
}

.contact-button {
  margin-top: 24px;
  @include mq(pc) {
    margin-top: 40px;
  }
  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    background-color: #ccc;
    box-shadow: 0px 4px 0px 0px transparent;
    &:hover {
      transform: translateY(0px);
      background-color: #ccc;
      box-shadow: 0px 0px 0px 0px transparent;
    }
  }
}
.contact__message--success,
.contact__message--error {
  text-align: center;
  display: none;
  background: #fff;
  padding: contact 20px;
  font-size: 24px;
}
.contact__message--success {
  color: #00f;
}
.contact__messag---error {
  color: #f00;
}
