@use "sass:map";
@use "../global" as *;

.footer {
  background: white;
  text-align: center;
  padding: 10px;
}

.footer__copy {
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}
.footer__pagetop {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 52px;
  height: 52px;

  z-index: map.get($layer, totop);
  // @include mq(sp) {
  //   right: 12px;
  //   bottom: 98px;
  // }
  .is-scroll & {
    pointer-events: auto;
    opacity: 1;
  }
  .drawer-open & {
    opacity: 0;
  }
}
