@use "sass:map";
@use "../global" as *;

.header {
  position: fixed;
  // position: sticky;
  top: 0;
  left: 0;
  z-index: map.get($layer, header);

  width: 100%;
  height: map.get($header, sp-height);
  background: transparent;
  transition: 0.5s;
  color: white;

  @include mq(sp) {
    .is-scroll & {
      background: map.get($color, header-bg-sp);
    }
  }
  @include mq(pc) {
    position: relative;
    // display: block;
    background: map.get($color, header-bg-pc);
    width: map.get($header, pc-width);
    // bottom: 0;
    // height: 100vh;
    height: auto;
    // height: 100%;
  }
}

.header__container {
  position: relative;
  width: 100%;
  @include mq(pc) {
    // width: 160px; // 768px*20.8%
    // margin: 0 auto;
    padding: 20px;
    // position: fixed;
    position: sticky;
    top: 0;
    left: 0;
    width: map.get($header, pc-width);
    // position: sticky;
    // top: 50px;
  }
}
.header__logo {
  //ナビ要素は、他の要素に合わせるためにinline-block
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  letter-spacing: 0.12em;
  @include mq(pc) {
    font-size: 30px;
  }
}

.header__nav {
  @include mq(pc) {
    display: block;
    // position: fixed;
    // z-index: 100;
    padding-top: 40px;
  }
  // spサイズは_drawer.scssのdrawer__navで設定
}

.header__nav-item {
  & + & {
    margin-top: 24px;
  }
}
