// blocksフォルダ
// 共通化したいパーツを記述する

@use "base";
@use "btn";
@use "header";
@use "drawer";
@use "section";
@use "footer";
@use "mv";
@use "concept";
@use "recommend";
@use "medical";
@use "blog";
@use "aside";
@use "pages";
@use "form";
// @use "animation";
// @use "dialog";
// @use "contact";
// @use "contact-input";
// @use "policy";
