@use "sass:map";
@use "../global" as *;

.privacy-policy {
  padding: 100px 20px;
  @include mq(pc) {
    padding: 100px 40px;
  }
  background: white;
}

.privacy-policy__title {
  @include font(32, 700, 51.2, 0);
  text-align: center;
}

.privacy-policy__content {
  margin-top: 20px;
}

.privacy-policy__body {
  margin-top: 50px;
}

.privacy-policy__box {
  margin-top: 30px;
}

.privacy-policy__subTitle {
  @include font(24, 700, 38.4, 0);
}

.privacy-policy__text {
  margin-top: 10px;
}

.privacy-policy__detail {
  list-style: inside;
  margin-left: 1em;
}

.privacy-policy__submit {
  margin-top: 30px;
  text-align: center;
}
