@use "sass:map";
@use "../global" as *;

.section {
}
.section__inner {
  padding-inline: 140px;
  max-width: 1280px;
  margin-inline: auto;
}
.section__head {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include mq(pc) {
    margin-bottom: 24px;
  }
}
.section__head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
  @include mq(pc) {
    font-size: 60px;
  }
}
.section__head-sub {
}

//contact,twitter用に追記
.section__head-center {
  text-align: center;
}
.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}
.section__contents {
  margin-top: 40px;
}
.section__foot {
  margin-top: 16px;
}
