@use "sass:map";
@use "../global" as *;

.section {
  margin-top: 60px;
  padding-block: 48px;
  background-color: #fff;
  &:nth-of-type(2n) {
    background-color: map.get($color, section-sub);
  }
}
.section__inner {
  padding: 0 32px;
  max-width: 500px;
  margin-inline: auto;
  @include mq(pc) {
    max-width: calc(880px + 32px * 2);
  }
}
.section__head {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include mq(pc) {
    margin-bottom: 24px;
  }
}
.section__head-main {
  font-size: 40px;
  letter-spacing: 0.1em;
  @include mq(pc) {
    font-size: 60px;
  }
  @include mq(tb) {
    font-size: 54px;
  }
}
.section__head-sub {
  // font-size: 16px;
}
//contact,twitter用に追記
.section__head-center {
  text-align: center;
}
.section__lead-text {
  font-size: 16px;
  line-height: 1.6;
}
.section__contents {
  margin-top: 40px;
}
.section__foot {
  margin-top: 16px;
}
